<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fc.zbetuch_sm"
    android:versionCode="11"
    android:versionName="版本日期：2015-03-16
    \n" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <!--    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />-->
 <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_SURFACE_FLINGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_SURFACE_FLINGER"
        tools:ignore="ProtectedPermissions" />

   
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.fc.main.tools.CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/title_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 首页 -->
        <activity
            android:name="com.fc.first.views.LoadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fc.first.views.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.first.views.FirstPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.first.views.GetNewsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_get_news_list"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.first.views.MsgBoardDetitle_MoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_msg_board_detitle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.first.views.Add_MsgBoardDetileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add__msg_board_detile"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.first.views.MsgboarddetitleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.first.views.PendWorkActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.first.views.Add_PendworkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_add__pendwork"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.first.views.SearchPendWorkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.first.views.TrendsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.first.views.GroupsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <!-- 九宫格等相关页面 -->
        <activity
            android:name="com.fc.main.views.MainPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.main.views.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.main.views.MainPageOne"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.main.views.MainPageTwoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.main.views.MainPageThreeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <!-- 个人信息 -->

        <activity
            android:name="com.fc.person.views.PersoninfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified" >
        </activity>
        <activity
            android:name="com.fc.person.views.PersonqueryListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.person.views.PersoninfoMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.AddPersonInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyPersonInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.FamilyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.PersonResumeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.SchoolInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifySchoolInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifySchoolInfoDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.person.views.WorkInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyWorkInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyWorkInfoDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.person.views.FiveActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.OutpatientActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateUnspecified|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.HospitalizedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.person.views.ERecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.person.views.AttentionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyStatusPersonMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyStatusMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 招聘信息功能 -->
        <activity
            android:name="com.fc.invite.views.ZaoPinQueryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.invite.views.InviteJobListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.invite.views.InviteJobDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 公司列表 -->
        <activity
            android:name="com.fc.company.views.CompanyQueryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 政策问答 -->
        <activity
            android:name="com.fc.policy.views.MainPolicyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.policy.views.PolicyAskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialog"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- 文件下载 -->
        <activity
            android:name="com.fc.download.views.FileDownloadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 资源调查 -->
        <activity
            android:name="com.fc.resources.views.ResourcesMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.FuXuanXiangCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.person.views.NewFuWuXuanXiangActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.person.views.UpdateFuWuXuanXiangActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!-- 视频播放 -->
        <activity
            android:name="com.fc.summary.views.WorkSummaryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.fc.summary.views.MyVideoPalyer"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 报表 -->
        <activity
            android:name="com.fc.baobiao.views.QueryFirstActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.baobiao.views.ReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.baobiao.views.ReportShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 修改密码 -->
        <activity
            android:name="com.fc.changepass.views.SetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!-- 工作日志 -->
        <activity
            android:name="com.fc.worktodate.views.AddWorkToDateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.worktodate.views.WorkToDateListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.worktodate.views.WorkToDateDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.worktodate.views.PhotoShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 个人政策查询 -->
        <activity
            android:name="com.fc.personpolicy.views.InsertIdCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.personpolicy.views.PersonPolicyMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <!-- 应届毕业生数据管理 -->
        <activity
            android:name="com.fc.gradeate.views.GradeateListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeatePersonInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateApirationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateWorkTrackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateWorkMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateWorkGrideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateEditWorkMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateEditJobGrideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.gradeate.views.GradeateParamQueryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!-- 资源调查 -->
        <activity
            android:name="com.fc.ziyuan.views.ZhiyuandiaochaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.ZhiYuanDetailListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.ShiYeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.WuYeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- 招聘会 -->
        <activity
            android:name="com.fc.recruitment.views.RecuritmentListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recruitment.views.RecuritmentListDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!-- 数据中心 -->
        <activity
            android:name="com.fc.recritmentmanager.views.NumberCenterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.LoginInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.AttentionInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.MeetingReadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.NumberPeopleCenterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.RedecodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.WorkInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.fc.recritmentmanager.views.WorkReadGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <!-- 测试页面 -->

        <activity
            android:name="com.fc.test.views.TestMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>

        <!-- 工具 -->
        <activity
            android:name="com.fc.main.myviews.GetPersonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.main.myviews.AllPeopleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.choosefile.views.FileManager"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>

        <!-- 工作通知 -->
        <activity
            android:name="com.fc.work.views.WorkTongZhiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.work.views.WorkTongzhiDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.work.views.NewWorkTongzhiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 工作动态 -->
        <activity
            android:name="com.fc.workstatus.views.WorkStatusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.workstatus.views.WorkStatusDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.workstatus.views.WorkStatusLiuYanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.workstatus.views.WorkStatusLiuYanDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.fc.workstatus.views.NewWorkStatusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 启用的服务 -->
        <service android:name="com.fc.main.myservices.MainService" >
            <intent-filter>
                <action android:name="com.fc.main.myservice.MainService" />
            </intent-filter>
        </service>
        <service android:name="com.fc.main.myservices.CompanyService" >
            <intent-filter>
                <action android:name="com.fc.company.myservice.CompanyService" />
            </intent-filter>
        </service>
        <service android:name="com.fc.main.myservices.PersonService" >
            <intent-filter>
                <action android:name="com.fc.person.myservice.PersonService" />
            </intent-filter>
        </service>
        <service android:name="com.fc.person.service.PersonService">
            <intent-filter>
                <action android:name="com.fc.person.myservice.PersonService" />
            </intent-filter>
        </service>
        <service android:name="com.fc.main.myservices.PostMsgService" >
            <intent-filter>
                <action android:name="com.fc.main.myservice.PostMsgService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.fc.person.views.ModifyPersonResumeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.person.views.ModifyPersonMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.workQuery.views.WorkQueryMainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.fc.workQuery.views.WorkQueryPeopleActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fc.workQuery.views.WorkQueryListActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fc.meetingpost.views.MeetingListActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.meetingpost.views.MeetingListDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.meetguanli.views.GuanLiMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.meetguanli.views.GuanLiDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.reportform.views.ReportFormListActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.reportform.views.NewReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.reportform.views.ReportFormListDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/modifymark"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <receiver android:name="com.fc.main.views.ShowApn" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.fc.main.views.ApnActivity" >
            <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
        </activity>
        <activity
            android:name="com.fc.state.views.GuanLiMakeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.state.views.OperationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.state.views.TongXunLuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.QiHangListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.QiHangDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.ziyuan.views.QiHangDetailInfoActiviyt"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.WenJuanPersonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.ShowWenJuanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.WenJuanDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.ShowWenJuanMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/savemovechecksingle"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.queue.views.QueueDefaultActicity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.ShowPersionDetailInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/savemovechecksingle"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        
        <activity
            android:name="com.fc.wenjuan.views.ShowPersionHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
          <activity
            android:name="com.fc.wenjuan.views.GXShowPersionDetailInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/savemovechecksingle"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
         <activity
            android:name="com.fc.wenjuan.views.GXShowWenJuanMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/savemovechecksingle"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
         <activity
            android:name="com.fc.wenjuan.views.GXWenJuanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.GXWenJuanDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.fc.wenjuan.views.GXWenJuanPersonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
    </application>

</manifest>